/* Complete Page */
body {
  /* border: black solid 2px; */
}

.container {
  /* border: blue solid 2px; */
  padding: 0;
}

.container div {
  /* border: black solid 1px; */
}

.container.row {
  margin: auto; /* Center */
}

.row {
  padding: 10px;
}

/* Posts Part */
.posts {
  /* padding-left: 20px; */
}

/* Recommendation Part */
.recommendations {
  /* padding-left: 20px; */
}

/* Testing */
