html {
  --background-primary: #ffffff;
  --text: #000000;
  --background-secondary: #efefef;
}

html[theme="dark"] {
  --background-primary: #222222;
  --text: #ffffff;
  --background-secondary: #333333;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms;
  transition-delay: 0;
}

.btn-dark {
  background-color: black;
}

.btn-group {
  margin-right: 1em;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--text);
}
