.new-post2-page {
  .container {
    margin-top: 1em;
    padding: 0em 10em 0em 10em;
    margin-bottom: 10em;
    h1 {
      margin-left: 15px;
    }
    .secondary-container {
      background-color: var(--background-secondary);
      padding: 0.5em 1em 1em 1em;
      border-radius: 10px;
      min-height: 80vh;
      margin-bottom: 1em;
    }
  }
  .add-content-component {
    min-height: 3em;
    .add-button {
      float: right;
    }
    .content-input {
      // display: inline-block;
      display: block;
    }
    input {
      margin-bottom: 10px;
    }
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .npm__react-simple-code-editor__textarea,
    .code-editor {
      background: white;
      color: black !important;
    }

    .code-container span,
    pre {
      // background: white;
      color: black !important;
    }

    .submit-file-btn {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 15px;
      font-weight: bold;
    }

    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }
  @media screen and (max-width: 900px) {
    .container {
      padding: 2em;
    }
  }
}
