/* #post {
  background-color: #f1f1f1;
} */

// #title {
//   margin-left: 400px;
//   margin-top: 30px;
// }

.article {
  // position: relative;
  // margin-left: 400px;
  // margin-right: 400px;
  padding-left: 10%;
  padding-right: 10%;
}

.addInfo {
  padding-left: 10%;
  padding-right: 10%;
}

// #file {
//   width: 300px;
// }

// label {
//   color: --text;
// }
