.user-profile-page {
  .bannerPic {
    display: block;
    width: 100%;

    /* Add properties below */
    height: 300px;
  }

  /* Style the big profile picture circle here. */
  #bigProfilePicCircle {
    /* Add properties below */
    position: absolute;
    top: 130px;
    left: 100px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid gold;
  }

  #profileStats {
    padding: 0;
    background-color: gold;
    ul {
      margin: 0;
      width: auto;
    }
  }

  #profileStats ul li {
    text-align: center;
    margin-right: 20px;
    font-weight: bold;
    list-style: none; /* Gets rid of list bullet points */
    display: inline-block;
    color: black;
    span {
      color: black;
    }
  }

  .profileStatsNumber {
    display: block;

    /* Add properties below */
    font-size: 150%;
    position: center;
  }

  /*** Profile info box styles below ***/
  .container {
    .space {
      height: 4em;
    }
    .timeline {
      margin-top: 1em;
    }
  }

  #profileInfo {
    background-color: var(--background-secondary);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .post {
    /* Add properties below */
    margin-left: 0;
    overflow: auto;
    min-height: 100px;
    float: left;
  }

  .timelineheader {
    padding-left: 20px;
  }

  /** for popup **/
  .popupWindow {
    display: block;
    width: 100%;
    height: 300px;
    background: black;
  }
  .popupInner {
    position: relative;
    width: 60%;
    height: 260px;
    top: 20px;
    left: 400px;
    right: 100px;
    border-radius: 10px;
    background: gold;
  }

  #closeButton {
    position: relative;
    left: 1300px;
    border-radius: 10px;
  }

  #saveButton {
    position: relative;
    left: 400px;
    border-radius: 10px;
  }
}
