.bannerPic {
    display: block;
    width: 100%;

    /* Add properties below */
    height: 300px;
}

/* Style the big profile picture circle here. */
#bigProfilePicCircle {
    /* Add properties below */
    position: absolute;
    top: 130px;
    left: 100px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid white;
}

#profileStats ul li {
    text-align: center;
    margin-right: 20px;
    font-weight: bold;
    list-style: none; /* Gets rid of list bullet points */
    display: inline-block;
}

.profileStatsNumber {
    display: block;

    /* Add properties below */
    font-size: 150%;
    position: center;
}

/*** Profile info box styles below ***/

#profileInfo {
    background-color: white;
    padding: 10px;

    /* Add properties below */
    margin-top: 20px;
    margin-left: 50px;
    width: 300px;
    min-height: 300px;
    float: left;

}