.container {
  position: relative;
}

#notfound {
  height: 100vh;
}

.notfound {
  position: relative;
  top: 30%;
}

.num404 {
  font-family: 'Pacifico', cursive;
  font-size: 10em;
}

.notfound-404 {
  top: 400px;
}

.home-link {
  position: relative;
  top: 2em;
}
