.admin-profile-page {
  padding-top: 100px;
  padding-bottom: 100px;
  .container-fluid {
    padding-left: 15%;
    padding-right: 15%;
  }
  #left-tab {
    width: 15em;
    margin-top: 3.5em;
    position: fixed;
  }

  #AdminProfileCircle {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #user-info {
    width: 15em;
    margin-top: 2em;
  }

  #option-tab {
    margin-top: 2.5em;
  }

  .btn-group-vertical {
    width: 15em;
    .btn {
      color: rgb(213, 219, 213);
      border-color: grey;
      background-color: var(--background-secondary);
    }
    .btn-selected {
      border-left-width: 0.2em;
      border-left-color: rgb(37, 223, 37);
    }
  }

  .dashboard {
    margin-top: 10em;
    .card {
      background-color: var(--background-secondary);
      margin: 1em;
    }

    .card-body {
      background-color: var(--background-secondary);
    }
  }

  #finduser {
    margin-top: 10em;
    #search-user {
      margin-left: 1em;
      #user-id-input {
        width: 15em;
        float: left;
      }
      .btn {
        color: gray;
        border-color: grey;
        margin-left: 1em;
        background-color: var(--background-secondary);
      }
    }

    #display-user {
      .row-info {
        margin-top: 2.5em;
      }
    
      .avatar-container {
        text-align: center;
      }

      #user-avatar {
        width: 5em;
        height: 5em;
        border-radius: 50%;
      }

      #text-block {
        margin-left: 2em;
        margin-top: 3em;
      }

      #button-reset {
        position: absolute;
        bottom: 5px;
      }

      #ban-warning {
        margin-top: 10px;
        color: red;
      }

      .btn {
        color: gray;
        border-color: grey;
        width: 150px;
        margin-left: 1em;
        background-color: var(--background-secondary);
      }

      .row-msg {
        margin-top: 5px;
      }
    }
  }

  #findpost {
    margin-top: 10em;
    #search-post {
      margin-left: 1em;
      #post-id-input {
        width: 15em;
        float: left;
      }
      .btn {
        color: gray;
        border-color: grey;
        margin-left: 1em;
        background-color: var(--background-secondary);
      }
    }

    #display-post {
      .avatar-container {
        text-align: center;
      }

      #user-avatar {
        width: 5em;
        height: 5em;
        margin-top: 2.5em;
        border-radius: 50%;
      }

      #text-block {
        margin-left: 2em;
        margin-top: 3em;
      }

      .prop-pre {
        display: inline-block;
        margin-right: 10px;
      }

      #button-change {
        position: absolute;
        bottom: 5px;
      }

      #delete-warning {
        margin-top: 1em;
        color: red;
      }

      .btn {
        color: gray;
        border-color: grey;
        width: 150px;
        margin-left: 1em;
        background-color: var(--background-secondary);
      }
    }
  }

  #notification-tab {
    margin-top: 4em;
    #search-notification {
      margin-bottom: 1em;
      #search-input {
        width: 20em;
        float: left;
      }
      .btn {
        color: gray;
        border-color: grey;
        margin-left: 1em;
        background-color: var(--background-secondary);
      }
    }
  }
}
