/* Complete Page */
.home-page {
  .container {
    padding: 0;
    height: 100vh;
    padding-top: 2em;
  }
  select {
    margin-top: 10px;
    margin-left: 10px;
  }
  .container.row {
    margin: auto; /* Center */
  }

  /* Posts Part */
  .posts {
    margin-bottom: 2em;
  }
  .posts h3 {
    padding-left: 20px;
  }
  .post.card {
    background-color: var(--background-secondary);
    color: var(--text);
    p {
      font-family: 'Tomorrow', sans-serif;
    }
  }

  /* Recommendation Part */
  .recommendations h3 {
    padding-left: 20px;
  }

  .recommendation-list {
    margin-top: 18px;
  }

  .recommendations.list-group {
    /* padding-left: 20px; */
    color: var(--text);
    background-color: var(--background-secondary);
  }
  .recommendations ul li {
    background-color: var(--background-secondary);
    a {
      font-family: 'Roboto Slab', serif;
      color: var(--text);
    }
  }

  @media screen and (max-width: 800px) {
    .recommendations {
      width: 100%;
      padding-bottom: 2em;
    }
    .posts {
      width: 100%;
    }
  }
  /* Testing */
}
