.login-page {
  position: relative;
  background-image: url('/img/login_background3.jpg');
  // min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .background-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: var(--background-image-opacity);
  }
  // background: url(sweettexture.jpg) blue;
  .form-container {
    padding-top: 10em;
    margin: auto;
    width: 20em;

    text-align: center;
    z-index: 2;
    position: relative;
    h3 {
      color: white;
    }
  }

  .lock-container {
    /* margin: auto; */
    margin-bottom: 40px;
    /* margin: 0 80 auto; */
    display: inline-block;
    font-weight: bold;
    img {
      margin-bottom: 15px;
    }
    h3 {
      font-family: 'Lobster', cursive;
    }
    .lock {
      // filter: invert(1);
    }
  }

  .input-group-text {
    width: 6em;
  }
}
@media screen and (max-height: 800px) {
  .login-page {
    .form-container {
      padding-top: 5em;
    }
  }
}
