.navbar-page {
  .btn-dark {
    background-color: black;
  }

  #welcome-msg {
    margin-right: 1em;
    font-size: 20px;
    font-family: cursive;
    color: white;
  }

  .btn-group {
    margin-right: 1em;
  }

  #shareEx-logo-text {
    color: white !important;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;
    // font-family: 'Acme', sans-serif;
    // font-family: 'Assistant', sans-serif;
  }

  input[type='search'] {
    margin-left: 20px;
  }

  #search-bar {
    margin-right: 0;
    width: 15em;
  }

  #search-type-select {
    width: 5em;
  }

  .navbar-buttons-container {
    display: flex;
  }

  .logout-btn {
    margin-right: 1em;
  }

  #user-avatar {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
  }

  #user-avatar {
    border-radius: 50%;
  }

  width: 100%;
  margin: 0;

  @media screen and (max-width: 985px) {
    #search-bar {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
    #theme-btn-group {
      margin-bottom: 10px;
      button {
        border-radius: 5px;
      }
    }
    .btn,
    .btn-group {
      display: block;
      width: 100%;
      padding-top: 10px;
    }

    .logout-btn {
      margin-top: 10px;
    }

    .nav-link {
      padding: 0px;
    }
  }
}
