.new-post-page {
  padding-top: 20px;
  background-image: url('/img/login_background3.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  h1 {
    color: white;
  }
  .container-fluid {
    padding: 0em 25% 0em 25%;
    padding-bottom: 10em;
    min-height: 100vh;
    h1 {
      margin-left: 15px;
    }
    .secondary-container {
      background-color: var(--background-secondary);
      padding: 0.5em 1em 1em 1em;
      border-radius: 10px;
      min-height: 80vh;
      margin-bottom: 1em;
    }
  }
  .add-content-component {
    .input-link-button {
      margin-left: 1em;
    }
    min-height: 3em;
    .add-button {
      float: right;
    }
    .content-input {
      // display: inline-block;
      display: block;
    }
    input {
      margin-bottom: 10px;
    }
    .upload-btn-wrapper {
      // position: relative;
      // overflow: hidden;
      // display: inline-block;
      width: 100%;
    }

    .npm__react-simple-code-editor__textarea,
    .code-editor {
      background: white;
      color: black !important;
    }

    .code-container span,
    pre {
      // background: white;
      color: black !important;
    }

    .submit-file-btn {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 15px;
      font-weight: bold;
    }

    // .upload-btn-wrapper input[type='file'] {
    //   font-size: 100px;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   opacity: 0;
    // }
  }

  @media screen and (max-width: 1500px) {
    .container-fluid {
      padding: 0em 15% 0em 15%;
    }
  }

  @media screen and (max-width: 900px) {
    .container-fluid {
      padding: 0em 5% 0em 5%;
    }
  }
}
