.notification-card {
    margin-top: 20px;
    .avatar {
        margin-top: 10px;
        margin-left: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .mr-3{
        text-align: center;
    }
}
