.notification-card {
    margin-top: 20px;
    background-color: var(--background-secondary);
    
    .avatar {
        margin-top: 10px;
        margin-left: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .text-container {
        word-break: break-all;
        margin-bottom: 20px;
    }
    
    .author-container {
        text-align: center;
        width: 75px;
    }
    
    .text-highlight {
        background-color: gold;
        color: black;
    }
    
    .msg-status {
        margin-top: 10px;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    
    .msg-time {
        color: darkviolet;
    }
    
    .msg-link {
        position: absolute;
        right: 30px;
    }
}
