.profset-page {
    padding-top: 70px;

    .prof-set-title {
        margin-left: 10%;
        margin-top: 1em;
    }
    .prof-set-cont {
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 2em;
        text-align: center;
    }
    .input-group-text {
        width: 6em;
    }
    .btn-toolbar {
        margin-top: 1.5em;
        margin-bottom: 2.5em;
        width: fit-content;
        float: right;

        margin-right: 15%;
    }
    .btn {
        width: 5em;
        margin-top: auto;
        margin-right: 1em;
    }
}
