.signup-page {
  #signup-title {
    margin-bottom: 2em;
    font-weight: bold;
    font-family: "Lobster", cursive;
  }

  .tab span {
    margin-left: 1em;
  }

  .form-container {
    margin: auto;
    margin-top: 10em;
    width: 20em;
    text-align: center;
  }

  .lock-container {
    /* margin: auto; */
    margin-bottom: 40px;
    /* margin: 0 80 auto; */
    display: inline-block;
    font-weight: bold;
  }

  .input-group-text {
    width: 6em;
  }

  .tab {
    margin-bottom: 1em;
  }
}
