.signup-page {
  position: relative;
  background-image: url('/img/login_background3.jpg');
  // min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .background-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: var(--background-image-opacity);
  }
  #signup-title {
    margin-bottom: 2em;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    color: white;
  }

  .tab span {
    margin-left: 1em;
  }

  .form-container {
    padding-top: 10em;
    margin: auto;
    width: 20em;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .lock-container {
    /* margin: auto; */
    margin-bottom: 40px;
    /* margin: 0 80 auto; */
    display: inline-block;
    font-weight: bold;
  }

  .input-group-text {
    width: 6em;
  }

  .tab {
    margin-bottom: 1em;
  }
}
@media screen and (max-height: 800px) {
  .signup-page {
    .form-container {
      padding-top: 5em;
    }
  }
}
