.single-post-2-page {
  padding-top: 70px;

  .container {
    margin-top: 2em;
    .single-post-container {
      .single-post {
        .post-content {
          margin-top: 1em;
          background-color: var(--background-secondary);
          padding: 1em;
          border-radius: 10px;
          // min-height: 100vh;
          .pdf {
            height: 80vh;
            width: 100%;
          }
          img {
            width: 100%;
          }
        }
        h2 {
          padding-left: 1rem;
        }
      }
      .comment-container {
        margin-top: 1em;
        margin-bottom: 2em;
        h3 {
          display: inline-block;
          margin-left: 15px;
        }
        .comments {
          background-color: var(--background-secondary);
          border-radius: 10px;
          padding: 1em;
        }
      }
    }
    .user-info-container {
      cursor: pointer;
      .space {
        height: 5em;
      }
      button {
        margin: 10px 20px 0px 20px;
      }
    }
    .user-info {
      margin-top: 0em;
      background-color: var(--background-secondary);
      padding: 10px;
      border-radius: 5px;

      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      strong {
        margin-left: 10px;
        color: var(--text);
      }
    }
  }
  @media screen and (max-width: 600px) {
    div.example {
      display: none;
    }
    // .single-post-container {
    //   width: 100%;
    // }
  }
}
