.single-post-2-page {
  padding-top: 10px;
  background-image: url('/img/login_background3.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2,
  h3 {
    color: white;
  }
  .container-fluid {
    #category-display {
      margin-left: 15px;
    }
    .modal-backdrop {
      position: unset !important;
    }
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2em;
    .single-post-container {
      .single-post {
        #delete-post-btn {
          margin-right: 5px;
        }

        .edit-button {
          float: right;
        }

        .post-content {
          margin-top: 1em;
          background-color: var(--background-secondary);
          padding: 1em;
          border-radius: 10px;
          // min-height: 100vh;
          .pdf {
            height: 80vh;
            width: 100%;
          }
          img {
            width: 100%;
          }
        }
        h2 {
          padding-left: 1rem;
        }
      }
      .comment-container {
        margin-top: 1em;
        margin-bottom: 2em;
        h3 {
          display: inline-block;
          margin-left: 15px;
        }
        .comments {
          margin-top: 10px;
          background-color: var(--background-secondary);
          border-radius: 10px;
          padding: 1em;
        }
      }
    }
    .user-info-container {
      // cursor: pointer;
      margin-top: 54px;
      button {
        margin: 10px 20px 0px 20px;
      }
    }
    .user-info {
      #username-display {
        font-size: 25px;
        margin-left: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      #exampleModalLongTitle {
        color: black;
      }

      margin-top: 0em;
      background-color: var(--background-secondary);
      padding: 10px;
      border-radius: 10px;

      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      strong {
        margin-left: 10px;
        color: var(--text);
      }
    }
  }
  @media screen and (max-width: 766px) {
    .container-fluid {
      .user-info-container {
        margin-top: 20px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    div.example {
      display: none;
    }
    .container-fluid {
      padding-left: 5%;
      padding-right: 5%;
    }
    // .single-post-container {
    //   width: 100%;
    // }
  }
}
